nav ul a {
    font-size: 1.2em;
    font-weight: bold;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    color: black;
}

.sidenav-icon {
    font-size: 2.4rem !important;
}

.nav-mobile-active {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-tablet-desktop {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    justify-content: space-evenly;
}